name: Docker
on:
  push:
    branches:
      - main
  pull_request:

env:

  OWNER: '${{ github.repository_owner }}'

  # TODO hardcoded, should instead get github.repository_owner and convert to lowercase
  # (This breaks tests in forks)
  OWNER_LC: 'nevertools'

  REGISTRY_IMAGE: ghcr.io/$OWNER_LC/moco
  REGISTRY_IMAGE_LATEST: ghcr.io/$OWNER_LC/moco:latest
  RAW_BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
jobs:
  build:
    name: Build and push docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Pull latest image for caching
        run: |
          docker pull ${{ env.REGISTRY_IMAGE_LATEST }}
        continue-on-error: true
      - name: Also pull this branch's image for caching
        run: |
          export BRANCH_NAME=$(echo ${{ env.RAW_BRANCH_NAME }} | sed 's/\//-/g')
          docker pull ${{ env.REGISTRY_IMAGE }}:$BRANCH_NAME
        continue-on-error: true
      - name: Build Docker image
        run: docker build -f .docker/Dockerfile -t ${{ env.REGISTRY_IMAGE_LATEST }} .
      - name: Push to gh registry with sha and branch
        if: ${{ !github.event.pull_request.head.repo.fork }}
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $OWNER_LC --password-stdin
          # tag with sha and push
          docker tag ${{ env.REGISTRY_IMAGE_LATEST }} ${{ env.REGISTRY_IMAGE }}:${{ github.sha }}
          docker push ${{ env.REGISTRY_IMAGE }}:${{ github.sha }}
          # tag with branch name and push
          export BRANCH_NAME=$(echo ${{ env.RAW_BRANCH_NAME }} | sed 's/\//-/g')
          docker tag ${{ env.REGISTRY_IMAGE_LATEST }} ${{ env.REGISTRY_IMAGE }}:$BRANCH_NAME
          docker push ${{ env.REGISTRY_IMAGE }}:$BRANCH_NAME
          echo "TAG_NAME=$BRANCH_NAME" >> $GITHUB_ENV
      - name: Testing
        run: docker run ${{ env.REGISTRY_IMAGE_LATEST }} pytest /colcon_ws/src/moco
      - name: Push to gh registry with latest if this is main
        if: github.ref == 'refs/heads/main'
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $OWNER_LC --password-stdin
          # only from main we actually push to latest
          docker push ${{ env.REGISTRY_IMAGE_LATEST }}
          echo "TAG_NAME=latest" >> $GITHUB_ENV
