name: Test
# Test the python packages that are part of the toolchain

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
    
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                ros-distro: [ "humble" ]
        steps:
            # Checkout the repository
            - name: Checkout repository
              uses: actions/checkout@v2
            # Set up ROS
            - name: Set up ROS
              uses: ros-tooling/setup-ros@v0.7
              with:
                required-ros-distributions: ${{ matrix.ros-distro }}
            # Get bt_tools TODO: remove after the release of bt_tools
            - name: Checkout bt_tools
              uses: actions/checkout@v2
              with:
                repository: boschresearch/bt_tools
                ref: feature/fsm_conversion
                path: colcon_ws/src/bt_tools
            # Compile bt_tools TODO: remove after the release of bt_tools
            - name: Compile bt_tools
              run: |
                source /opt/ros/${{ matrix.ros-distro }}/setup.bash
                # Install dependencies
                cd colcon_ws
                rosdep update && rosdep install --from-paths src --ignore-src -y
                # Build and install bt_tools
                colcon build --symlink-install
            # Get smc_storm for testing
            - name: Get smc_storm
              id: get_smc_storm
              run: |
                wget https://github.com/convince-project/smc_storm/releases/download/0.0.1/smc_storm_executable.tar.gz
                tar -xzf smc_storm_executable.tar.gz
                ./install.sh --install-dependencies
                # Save the path to the smc_storm executable
                echo SMC_STORM_PATH=$PWD/bin/ >> $GITHUB_OUTPUT
            # Update pip
            - name: Update pip
              run: python -m pip install --upgrade pip
            # install the packages
            - name: Install packages
              run: | 
                source colcon_ws/install/setup.bash  # TODO: remove after the release of bt_tools
                pip install jani_generator/.[dev]
                pip install as2fm_common/.[dev]
                pip install scxml_converter/.[dev]
            # lint packages
            # TODO: add linting    
            # run the tests
            - name: Run tests
              run: |
                export PATH=$PATH:${{ steps.get_smc_storm.outputs.SMC_STORM_PATH }}
                # source /opt/ros/${{ matrix.ros-distro }}/setup.bash
                source colcon_ws/install/setup.bash  # TODO: remove after the release of bt_tools
                pytest-3 -vs as2fm_common jani_generator scxml_converter
