name: Test
# Test the python packages that are part of the toolchain

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
    
jobs:
    test:
        strategy:
            matrix:
                include:
                  - ros-distro: jazzy
                    os: ubuntu-24.04
                  - ros-distro: humble
                    os: ubuntu-22.04
            fail-fast: false  
        runs-on: ${{ matrix.os }}
        steps:
            # Checkout the repository
            - name: Checkout repository
              uses: actions/checkout@v2
            # Set up ROS
            - name: Set up ROS
              uses: ros-tooling/setup-ros@v0.7
              with:
                required-ros-distributions: ${{ matrix.ros-distro }}
            # Get bt_tools TODO: remove after the release of bt_tools
            - name: Checkout bt_tools
              uses: actions/checkout@v2
              with:
                repository: boschresearch/bt_tools
                ref: main
                path: colcon_ws/src/bt_tools
            # Remove unused packages from checked out bt_tools
            - name: Remove packages we don't need
              run: |
                rm -rf colcon_ws/src/bt_tools/bt_live
                rm -rf colcon_ws/src/bt_tools/bt_tools
                rm -rf colcon_ws/src/bt_tools/bt_tools_common
                rm -rf colcon_ws/src/bt_tools/bt_view
            # Compile bt_tools TODO: remove after the release of bt_tools
            - name: Compile bt_tools
              run: |
                source /opt/ros/${{ matrix.ros-distro }}/setup.bash
                # Install dependencies
                cd colcon_ws
                rosdep update && rosdep install --from-paths src --ignore-src -y
                # Build and install bt_tools
                colcon build --symlink-install
            # Get smc_storm for testing
            - name: Get smc_storm
              id: get_smc_storm
              run: |
                wget https://github.com/convince-project/smc_storm/releases/download/0.0.3/smc_storm_executable.tar.gz
                tar -xzf smc_storm_executable.tar.gz
                ./install.sh --install-dependencies
                # Save the path to the smc_storm executable
                echo SMC_STORM_PATH=$PWD/bin/ >> $GITHUB_OUTPUT
            # Update pip
            - name: Update pip
              run: python -m pip install ${{ matrix.os == 'ubuntu-24.04' && '--break-system-packages' || '' }} --upgrade pip 
            # workaround python 3.12 issue
            - name: Install special fork of js2py
              run: |
                pip install --break-system-packages git+https://github.com/felixonmars/Js2Py.git:py3.12
              if: ${{ matrix.os == 'ubuntu-24.04' }}
            # install the packages
            - name: Install packages
              run: | 
                source colcon_ws/install/setup.bash  # TODO: remove after the release of bt_tools
                pip install ${{ matrix.os == 'ubuntu-24.04' && '--break-system-packages' || '' }} jani_generator/.[dev]
                pip install ${{ matrix.os == 'ubuntu-24.04' && '--break-system-packages' || '' }} mc_toolchain_jani_common/.[dev]
                pip install ${{ matrix.os == 'ubuntu-24.04' && '--break-system-packages' || '' }} scxml_converter/.[dev]
            # lint packages
            # TODO: add linting    
            # run the tests
            - name: Run tests
              run: |
                export PATH=$PATH:${{ steps.get_smc_storm.outputs.SMC_STORM_PATH }}
                # source /opt/ros/${{ matrix.ros-distro }}/setup.bash
                source colcon_ws/install/setup.bash  # TODO: remove after the release of bt_tools
                pytest-3 -vs as2fm_common jani_generator scxml_converter
